<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
       
        <div class="navicon">
            <i class="fa fa-bars fa-2x" onclick="menuclick()" id="menuicon" aria-hidden="true"></i>
        </div>

        <div class="ml-auto">
          
          <ul class="navbar-nav mr-auto">
              <%if(currentUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><Strong><%=currentUser.username%></Strong><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
                  </li>
              <%} else{%>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/signup">SignUp<span class="sr-only">(current)</span></a>
                  </li>
              <%}%>
            
          </ul>
        </div>
          <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul> -->
      </nav>
     
      <div class="flex1">
        <div class="body">
            <%if(currentUser.usertype === "Employee"){%>
            <div class="snav">
                <div class="sidenav " id="sidenav" >
                    <div class="item-top">
                       
                        <a href="/emp/index" class="item"  data-toggle="tooltip" data-placement="right" title="Home">
                            <div class="subitems">
                                <div class="subitem">
                                   Home
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>

                        <a href="/emp/profile" class="item"  data-toggle="tooltip" data-placement="right" title="Profile">
                            <div class="subitems">
                                <div class="subitem">
                                   Profile
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-user-circle-o fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>

                        <a href="/emp/customers" class="item"  data-toggle="tooltip" data-placement="right" title="Account Statement">
                            <div class="subitems">
                                <div class="subitem">
                                 Customers
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-table fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/emp/requests" class="item"  data-toggle="tooltip" data-placement="right" title="Account Statement">
                            <div class="subitems">
                                <div class="subitem">
                                 Requests
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-table fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>

                        <a href="/emp/transfer" class="item"  data-toggle="tooltip" data-placement="right" title="Transfer">
                            <div class="subitems">
                                <div class="subitem">
                                   Send Email
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-link fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                        <a href="/emp/addcheck" class="item"  data-toggle="tooltip" data-placement="right" title="Check Statement">
                            <div class="subitems">
                                <div class="subitem">
                                   Checks
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-list-alt fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>
                        <!-- <a href="cardstatements" class="item"  data-toggle="tooltip" data-placement="right" title="Card Statement">
                            <div class="subitems">
                                <div class="subitem">
                                   Card Report
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a> -->
                    </div>
                    <div class="item-bottom">
                        <!-- <a href="/emp/settings" class="item"  data-toggle="tooltip" data-placement="right" title="Settings">
                            <div class="subitems">
                                <div class="subitem">
                                   Setting
                                </div>
                                <div class="subitem">
                                    <i class="fa fa-cog fa-1x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </div>
            </div>
            <%} else{%>
                <div class="snav">
                    <div class="sidenav " id="sidenav" >
                        <div class="item-top">
                           
                            <a href="/cus/index" class="item"  data-toggle="tooltip" data-placement="right" title="Home">
                                <div class="subitems">
                                    <div class="subitem">
                                       Home
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-home fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
    
                            <a href="/cus/profile" class="item"  data-toggle="tooltip" data-placement="right" title="Profile">
                                <div class="subitems">
                                    <div class="subitem">
                                       Profile
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-user-circle-o fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
    
                            <a href="/cus/accstatements" class="item"  data-toggle="tooltip" data-placement="right" title="Account Statement">
                                <div class="subitems">
                                    <div class="subitem">
                                       Statement
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-table fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
    
                            <a href="/cus/transactions" class="item"  data-toggle="tooltip" data-placement="right" title="Transfer">
                                <div class="subitems">
                                    <div class="subitem">
                                       Transfer
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                            <a href="/cus/benificiary" class="item"  data-toggle="tooltip" data-placement="right" title="Check Statement">
                                <div class="subitems">
                                    <div class="subitem">
                                       Benificiary
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-list-alt fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                            <a href="/cus/check" class="item"  data-toggle="tooltip" data-placement="right" title="Card Statement">
                                <div class="subitems">
                                    <div class="subitem">
                                      Check Issues
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item-bottom">
                            <!-- <a href="/cus/settings" class="item"  data-toggle="tooltip" data-placement="right" title="Settings">
                                <div class="subitems">
                                    <div class="subitem">
                                       Setting
                                    </div>
                                    <div class="subitem">
                                        <i class="fa fa-cog fa-1x" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                </div>
                <%}%>
            <div class="content"> 