<%- include("partials/header")-%>
<div class="jumbo">
    <p>This is premier Bank. Lets get started!!</p>
       <a href="/login" class="btn btn-primary btn-lg">Get Started</a>

</div>  
    
<%- include("partials/footer")-%>
