<%- include("partials/header")-%>
<div class="jumbo">
 <% user.forEach(function(ele){ %>
     <p><%=ele.username%></p>
     <p><%=ele.usertype%></p>
     <br>
 <% })%>
</div>  
<!-- <a href="/account" class="btn btn-primary btn-lg"></a> -->
    
<%- include("partials/footer")-%>
