<%- include("partials/header")-%>
<div class="container">
    <div class="login pt-5">
        <h3>Login</h3>
        <br>
        <form method="POST" action="/login">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            
            <p class="mt-2">Are you new to this account? <strong><a href="signup.html">Sign Up</a></strong></p>
          </form>
    </div>
  
</div>
    
<%- include("partials/footer")-%>
